.heading-format{
    text-align: center;
}
.right-aligned {
    text-align: right;
}
.p-format{
    text-align: justify;
}
#header-content {
    width: 940px;
    margin: 0px auto ;
}
.header-space {
    margin-top: 34px ;
}
.offset4 {
    margin-left: 260px ;
}
.offset8 {
    margin-left: 520px ;
}
.offset2 {
    margin-left: 130px ;
}
.offset1 {
    margin-left: 65px ;
}
.content-buffer {
    margin-bottom: 17px ;
}
#header {
    width: 940px;
    height: 14px;
    margin: 17px auto;
}
